html, body{

    margin: 0;
    padding: 0;
}

body{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #f7f3ea;
}

a{
    text-decoration: none;
}

a:hover,
a:visited,
a{color: #f7f3ea;}

.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
}

.container{
    max-width:1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.head-row{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #86509c;
    width: 100%;

}
.logo {
    background-color: #86509c;
    position: relative;
    text-align: center;
    align-content: center;
    float: left;
    margin: auto 0;
}

/*Navigation menu*/
nav{
    min-width: 100px;
    float: right;
}
a{
    text-decoration: none;
}

ul{

    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul .navig a{
    display: block;
    line-height: 18px;
}

li{
    color: #00ff04;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.5s;

}

li a{
    color: #fff;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: transparent;
}
nav li{

}

nav li + li{
    padding-left: 10px;
}

nav li a:hover{
    background-color: #643a79;
}
li:hover, li:focus-within{
    cursor: pointer;
}

nav ul:hover{
    cursor: default;
}

li:focus-within a{
    outline: none;
}
ul li ul{
    visibility: hidden;
    opacity: 0;
    min-width: 50px;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 10px;
    margin-left: 10px;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus{
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li{
    /*clear: both;*/
    width: 100%;
    padding: 15px 5px 15px 5px;
    text-align: center;
}

/*Welcome-block*/
.welcome{
    background-color: #86509c;
}

.welcome-text{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    margin:auto;
    max-width: 909px;
    padding-bottom: 63px;
    padding-top: 97px;
}

.welcome-btn{
    text-align: center;
    margin: 0 auto;
    font-weight: bolder;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.2px;
    padding-bottom: 145px;
}
.welcome-btn a{
    border-radius: 5px;
    padding: 24px 77px;
    background-color: #eb7d4b;
    border-bottom: 4px solid #c86a40;
    transition-duration: 0.5s;
}

.welcome-btn a:hover{
    background-color: #c86a40;
}

/*Services block*/
.services{
    background-color: #17c2a4;
}

.line{
    height: 4px;
    width: 87px;
    margin: 0 auto 24px auto;
}
.services .line{
    background-color: #14a58c;
}

.services-title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 1px;
    padding-top: 120px;
    margin-bottom: 22px;
}

.services-text{
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2px;
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
}

.services-row{
    display: block;
    text-align: center;
}

.services-item{
    display: inline-block;
    max-width: 260px;
    text-align: center;
    margin: 83px 30px 0 30px;
}
.services-item-img{
    margin-bottom: 64px;
}
.services-item-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-bottom: 29px;
}
.services-item-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    max-width: 200px;
    height: 142px;
}

/*Team block*/
.team{
    background-color: #e7f1f8;
    color: #3c4761;
}

.team .line{
    background-color: #c8d9e5;
}

.team .services-item-title{
    margin-bottom: 17px;
}


.team-prof{
    color: #30bae7;
    margin-bottom: 29px;
    letter-spacing: 0.2px;
    line-height: 18px;
}
.team-sm-icons ul li{
    height: 32px;
    width: 32px;
}

.team-sm-icons a{
    padding-right: 32px;

}
.team-sm-icons{
   margin-bottom: 127px;
}
.facebook{
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('../img/Contacts.png');
    width: 163px;
    height: 32px;
    background-color: transparent;
}

.twitter{
    background-repeat: no-repeat;
    background-position: -44px 0;
    background-image: url('../img/Contacts.png');
    width: 163px;
    height: 32px;
    background-color: transparent;
}

.linkedin{
    background-repeat: no-repeat;
    background-position: -87px 0;
    background-image: url('../img/Contacts.png');
    width: 163px;
    height: 32px;
    background-color: transparent;
}

.mail{
    background-repeat: no-repeat;
    background-position: -131px 0;
    background-image: url('../img/Contacts.png');
    width: 163px;
    height: 32px;
    background-color: transparent;
}

/*Skills block*/
.skills{
    background-color: #ffffff;
    color: #3c4761;
}

.skills .services-item-title{
    margin-top: 33px;
    text-align: center;
}
.skills .services-item{
    margin-bottom: 93px;
}
.progress{
    width:160px;
    height:160px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    margin: 0;
    z-index:2;
}

/* Text inside the control */
.progress span {
    position: absolute;
    line-height: 20px;
    font-size:50px;
    letter-spacing: 0.2px;
    width: 80px;
    text-align: center;
    display: block;
    font-weight: 300;
    margin: 70px 40px;
    z-index: 4;
}
.progress span span{
    font-size: 32px;
    margin: -15px 40px 40px 40px;
}
.value-bar{
    background-color: #30bae7;
    position:absolute;
    width:160px;
    height:160px;
    border-radius:50%;
    clip: rect(0px 80px 160px 0px);
    z-index:3;
}
.left-half{
    background-color: #dfe8ed;
    position:absolute;
    width:160px;
    height:160px;
    border-radius:50%;
    clip: rect(0px 80px 160px 0px);
    z-index:3;
}
.right-half{
    background-color: #dfe8ed;
    position:absolute;
    width:160px;
    height:160px;
    border-radius:50%;
    clip: rect(0px 160px 160px 80px);
    z-index:3;
}
.centr{
    background-color: #dfe8ed;
    width:160px;
    height:160px;
    border-radius:50%;
    position: absolute;
    z-index:2;
}
.centr.over50 .left-half{
    /*Progress bar for the first 50%, filling the whole right half*/
    position: absolute; /*needed for clipping*/
    clip: rect(0, 160px, 160px, 80px);
    background-color: #30bae7;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
.centrV{
    background-color: #ffffff;
    width:135px;
    position: absolute;
    height:135px;
    border-radius:50%;
    margin: 13px 13px;
    z-index:3;
}

.p70 .value-bar { transform: rotate(252deg); }
.p75 .value-bar { transform: rotate(270deg); }
.p85 .value-bar { transform: rotate(306deg); }
.p90 .value-bar { transform: rotate(324deg); }

#htmlcss.centr.over50 .left-half{
    background-color: #d74680;
}
#htmlcss .value-bar{
    background-color: #d74680;
}
#graphicdesign.centr.over50 .left-half, #graphicdesign .value-bar{
    background-color: #15c7a8;
}
#uiux.centr.over50 .left-half, #uiux .value-bar{
    background-color: #eb7d4b;
}

/*Portfolio block*/
.portfolio{
    background-color: #ffdd99;
    color: #393939;
}
.portfolio .line{
    background-color: #e5c37f;
}
.portfolio-row{
    margin: 45px auto 0 auto;
    text-align: center;
}

.portfolio a{
    color: #393939;
    background-color: #ebc985;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 20px;
}
.portfolio a:visited{
    color: #393939;
}
.portfolio a:hover{
    color: #393939;
    background-color: #ffffff;
}

.portfolio-grid{
    margin: 0 auto;
}

.portfolio-item{
    max-width: 540px;
    display: inline-block;
}
.portfolio-item{
    margin: 65px 10px 0 10px;
}
.portfolio-item-title{
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 20px;
    color: #393939;
    text-align: center;
    margin-top: 31px;
}
.portfolio .welcome-btn a{
    background-color: #17c2a4;
    color: #ffffff;
    line-height: 26px;
    letter-spacing: 0.2px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 4px solid #14a58c;
    transition-duration: 0.5s;
    padding: 22px 55px 19px 59px;
}

.portfolio .welcome-btn a:hover{
    background-color: #14a58c;
}

.portfolio .welcome-btn{
    padding-top: 85px;
    padding-bottom: 110px;
    max-width: 294px;
    max-height: 70px;
}

/*Review block*/
.review{
    background-color: #d74680;
    color: #ffffff;
}
.review .line{
    background-color: #b73c6d;
}
.review .services-text{
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 26px;
}

.review .portfolio-grid{
    padding-bottom: 60px;
}
.review-item{
    display: inline-block;
    width: 540px;
    margin-bottom: 74px;
    margin-top: 72px;
}
.review-item-img{
    display: inline-block;
    position: absolute;
}
.review-item-text{
    display: inline-block;
    width: 367px;
    padding-left: 146px;
}
.review-item-desc{
    display: block;
    font-weight: 400;
    font-style: italic;
    font-size: 21px;
    letter-spacing: 0.2px;
    line-height: 31px;
}
.review-item-title{
    display: block;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.2px;
    line-height: 26px;
    margin-top: 29px;
}
.review-item-prof{
    display: block;
    color: #facd96;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2px;
    margin-top: 11px;
}

.review-item:nth-child(2n){
    margin-left: 50px;
}

/*Get in touch block*/
.getintouch{
    background-color: #3c5499;
    color: #ffffff;
}
.getintouch .line{
    background-color: #273a71;
}


.input-placeholder{
    position: relative;
    display: inline-block;
}
.input-placeholder input, textarea{
    font-size: 18px;
    color: #ffffff;
    padding-left: 42px;
}
.input-placeholder input:valid + .placeholder {
    display: none;
}
.input-placeholder textarea:valid + .placeholder{
    display: none;
}
.placeholder {
    position: absolute;
    pointer-events: none;
    top: 36px;
    bottom: 0;
    height: 56px;
    font-size: 18px;
    line-height: 18px;
    left: 42px;
    margin: auto;
    color: #ccc;
}
textarea + .placeholder{
    height: 200px;
}

.placeholder span {
    color: red;
}


form{
    width: 862px;
    margin: 0 auto;
    color: #ffffff;
}
input[name="Name"],
input[name="email"]{
    background-color: #273a71;
    width: 372px;
    height: 56px;
    border: 0 solid;
    border-radius: 5px;
}
input[name="email"]{
    margin-left: 15px;
}
input[name="Name"]{
    margin-right: 15px;
}
textarea{
    background-color: #273a71;
    width: 818px;
    height: 200px;
    border: 0 solid;
    border-radius: 5px;
    margin-top: 27px;
}

button {
    border-radius: 5px;
    padding: 24px 77px;
    background-color: #30bae7;
    border: none;
    border-bottom: 4px solid #299ec5;
    text-decoration: none;
    transition-duration: 0.5s;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #ffffff;
}
button:hover{
    background-color: #299ec5;
}
form{
    margin-top: 80px;
    color: #ffffff;
    font-size: 18px;
}
form .welcome-btn{
    margin-top: 61px;
}

footer{
    background-color: #344b8e;
    width: 100%;
    height: 112px;
    text-align: center;
    align-content: center;
}
footer ul{
    padding-top: 50px;
}
footer a{
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #ffffff;
}
footer a:visited{
    color: #ffffff;
}
footer a:hover{
    color: #30bae7;
}